{% extends "base.html" %}

{% block head %}
{{ super() }}
      <meta property="og:title" content="{{ article.title }}" />
      <meta property="og:url" content="{{ SITEURL }}/{{ article.url }}" />
      <meta property="og:type" content="article" />
      <meta property="og:published_time" content="{{ article.date }}" />
      <meta property="og:author" content="{{ article.author }}" />
      <meta property="og:section" content="{{ article.category }}" />
      {% for tag in article.tags %}
      <meta property="og:tag" content="{{ tag }}" />
      {% endfor %}
{% endblock %}

{% block content %}

<section class="content">

  <h3 class="posttitle">
    <a class="nodec" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
      {{ article.title }}
    </a>
  </h3>

  <div class="postinfo">
    <p class="published" title="{{ article.date.isoformat() }}">
      {{ article.locale_date }}{% if article.tags %} | Tags:
      {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
      {% endfor %}
      {% endif %}
    </p>

    {% if article.author and SHOW_ARTICLE_AUTHOR %}
    <address class="vcard author">
      By <a class="nodec" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
    </address>
    {% endif  %}
  </div><!-- .postinfo -->

  <div class="article">
    {{ article.content }}
  </div><!-- .content -->

</section>

{% endblock %}
